@import "fonts.css";
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
html,
body {
    height: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: 'Sofia Pro';
    color: #000;
    background: linear-gradient(70deg, #fff 50%, #EDF2FB 50%);
}
header .logo img {
    display: flex;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: rem;
    padding-left: 4rem;
}
span {
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
    font-size: 20px;
}
#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    position: absolute;
    height: 2px;
    width: 24px;
    background: #d3531a;
    border-radius: 2px;
    opacity: 1;
    left: 85%;
    margin-top: 5rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 0px;
}
#nav-icon1 span:nth-child(2) {
    top: 10px;
}
#nav-icon1 span:nth-child(3) {
    top: 10px;
}
#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon1.open span:nth-child(3) {
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.content-main {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
}
.content-main u {
    border-bottom: 0px solid #000;
    text-decoration: none;
    color: #044d92;
    background-color: #FFF2E9;
}
.content-main:hover u {
    color: #044d92;
}

.content-main a{
    color: #044d92;
    border-bottom: none;
}
.contact {
    font-family: 'Sofia Pro Normal';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40%;
    margin-bottom: 3rem;
    font-size: 26px;
}
.contact ul {
    list-style: none;
    line-height: 2.8rem;
}
h1 {
    font-family: 'Sofia Pro';
    line-height: 2.3rem;
}
a {
    color: #044d92;
    text-decoration: none;
    border-bottom: 1px dashed #000;
}
a:hover {
    background-color: #FFF2E9;
}
@media only screen and (max-device-width: 833px) {
    .contact {
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        
    }
    .contact ul {
        margin-left: -1em;
        margin-top: .8em;
        text-align: left;
        line-height: 1.5em;
    }
    .content-main {
        font-size: 18px;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    header .logo img {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    span {
        font-size: 18px;
    }
    h1 {
        font-size: 24px;
        line-height: 1rem;
  
    }
    a {
        font-size: 16px;
        line-height: -2rem;
    }
    .skills li{
        font-size: 18px;
    }
}
@media only screen and (max-device-width: 350px) {
    .contact ul {
        line-height: 2rem;
        padding-right: 120px;
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(75, 75, 75, 0.95);
}
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 32px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
 
}
.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}
.overlay ul li a {
    font-weight: 100;
    display: block;
    color: #fff;
    border: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #f8e2ca;
    background-color: transparent!important;
}
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}
@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
.menu {
    float: right;
    margin-right: 3rem;
    margin-top: -11rem;
    cursor: pointer;
    /*! width: 30%; */
}


.skills {
    color: #000;
    background: #EDF2FB;
    margin-top: 5em;
    text-align: center;
    padding: 30px 0;
    min-height: 30em;

}
.skills p {
    font:800 50px/52px 'Noc', 'Helvetica', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
}
.skills li{
   font:  26px 'Sofia Pro Normal', 'Helvetica', sans-serif;
     vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    display: list-item;
    line-height: 3em;
}
.skills ul{
    list-style: none;
}
.center {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.work{
    background: #EDF2FB;
    min-height: 30em;
    padding-top: 5em;

}
.work h1{
    display: flex;
    justify-content: flex-start;
    margin: 10px auto;
    padding-left: 2em;
    font-family: 'Noc';
}
.work p{
    font: 16px/10px 'Sofia Pro Normal', 'Helvetica', sans-serif;
    display: flex;
    justify-content: flex-start;
}
.wrapper {
    overflow: auto;
    width: 95%;
    max-width: 1366px;
    margin: 0 auto;
}

@media only screen and (max-device-width: 833px){
    
   .skills li{
   font:  18px 'Sofia Pro Normal', 'Helvetica', sans-serif;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-right: 40px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    display: list-item;
    line-height: 3em;
}
.skills ul{
    list-style: none;
} 
    
}