@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/Mostardesign - Sofia Pro Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Mostardesign - Sofia Pro Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Mostardesign - Sofia Pro Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Mostardesign - Sofia Pro Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Mostardesign - Sofia Pro Bold.svg#2f27e247f0444d2e6d559c6d5001c47a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}
@font-face {
  font-family: 'Sofia Pro Normal';
  src: url('../fonts/SofiaProLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SofiaProLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SofiaProLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SofiaProLight.svg#ac1d368129849acd60a9ca2964976c77') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'GT';
  src: url('../fonts/GT/GT-Sectra-Display-Trial-Bold.otf'); /* IE9 Compat Modes */
    font-weight: 800;
    font-style: normal;

}

@font-face {
  font-family: 'GT';
  src: url('../fonts/GT/GT-Sectra-Display-Trial-Bold.otf'); /* IE9 Compat Modes */
    font-weight: 800;
    font-style: normal;

}

@font-face {
  font-family: 'Noc';
  src: url('../fonts/nocturnodisplay_reg/NocturnoDisplay-Reg.otf'); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'west';
  src: url('../fonts/Westfalia-Regular.otf'); 
    font-weight: normal;
    font-style: normal;

}



