@import "fonts.css";
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
html,
body {
    height: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: 'Sofia Pro';
    color: #000;
    background: #F1E8C4;
}
header .logo img {
    display: flex;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: rem;
    padding-left: 4rem;
}
span {

}

h1 {
    font-family: 'Sofia Pro';
    line-height: 2.3rem;
}
a {

}
.header {
    height: 1em;
    padding: 35px 0;
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    opacity: 0.9;
}

.header__logo {
    color: #333;
    display: inline-block;
    font-size: 0.875rem;
    text-decoration: none;
    width: 100px
}

.header__logo span {
    color: #00f;
    font-size: 1.875rem;
    line-height: 0
}

.header__nav {
    display: inline-block;
    float: right;
    position: relative;
}

.header__nav ul {
    float: right;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    display: inline-block;
    position: relative
}

.header__nav__item:not(:last-of-type) {
    margin-right: 10px;
    padding-right: 10px
}

.header__nav__item:not(:last-of-type):after {
    color: #bf2d2f;
    content: '/';
    position: relative;
    right: -10px;
    top: 0
}

.header__nav__item a {
    color: #333;
    font-size: 0.875rem;
    text-decoration: none
}

.header__nav__item--current a {
    font-weight: bold
}



/*GRID*/ 
.grid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.grid::before,.grid::after {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.grid::after {
    clear: both
}

.grid.collapse>.grid__columns {
    padding-left: 0;
    padding-right: 0
}

.grid .grid {
    margin-left: -0.625rem;
    margin-right: -0.625rem
}

@media screen and (min-width: 40em) {
    .grid .grid {
        margin-left:-0.9375rem;
        margin-right: -0.9375rem
    }
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap
   
    
}
.landing h1{
    font-family: 'Sofia Pro Normal';
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    line-height: .01em;

}
.landing span{
    font-family: 'Sofia Pro';
    font-size: 5em;
    display: flex;
    justify-content: center;
    line-height: .1;
}
.landing h2{
    font-family: 'Sofia Pro Normal';
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}


@media only screen and (max-device-width: 833px) {

}
@media only screen and (max-device-width: 350px) {

}


@media only screen and (max-device-width: 833px){
    
}