@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow-x: hidden;
}

.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

a {
	color: #404d5b;
	text-decoration: none;
	outline: none;
}

h2{
	font-family: "Playfair Display";
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 4em;
	line-height: 1;
	background-color: white;
	color: #de3d08;
}

section {
	padding: 6em 2em;
}

section p {
	font-size: 2em;
	line-height: 1.518;
	max-width: 30em;
	margin: 0 auto;
}

section p span{
	background-color: #ffd27c;
	font-style: italic;

}

/* Header */
.codrops-header {
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/header-background.gif");
	min-height: 30em;
}

.codrops-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 5em;
	line-height: 1;
	color: yellow;

}

.codrops-header h3{
	display: flex;
	justify-content: flex-start;
	max-width: 20em;
	font-weight: 700;
	font-size: 2em;
	line-height: 1;
	color: white;
	text-shadow: 2px 2px #ff0000;
}
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: orange;

}

.header-snowden{
	background-image: url("../img/Snowden.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-meta{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/metadata.png");
	min-height: 30em;
}
.header-policies{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/privacy-policies.jpg");
	min-height: 30em;
}
.header-legal{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/legal-authorities.png");
	min-height: 30em;
}

.header-source3{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/source-3.png");
	min-height: 30em;
	
}
.header-source4{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/source-4.png");
	min-height: 30em;
	
}
.header-targetted{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/muslim.jpg");
	min-height: 30em;
	
}
.header-targetted2{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/keystone.jpg");
	min-height: 30em;
	
}
.header-rightwing{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/rightwing.png");
	min-height: 30em;
	
}
.header-1{
	padding: 5em 2em;
	padding-right: 100%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/1.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	
	
	
	
}
.header-2{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/2.png");
		min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
		padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
}
.header-3{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/3.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
.header-4{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/4.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
.header-5{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/5.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
.header-6{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/6.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
.header-7{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/7.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
.header-8{
	padding: 5em 2em;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/8.png");
	min-height:90vh;
	width: 115vh;
	 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-right: 100%;
	display: flex;
	justify-content: flex-end;
	
	
}
/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #34495e;
}

.codrops-top a:hover,
.codrops-top a:focus {
	color: #fb6859;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	text-align: center;
}

.related p {
	padding: 2em 0;
	font-size: 2em;
	font-weight: 500;
}

.related > a {
	border: 1px solid #333;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	white-space: pre-line;
}

.related a:hover {
	border-color: #333;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-size: 1.2em;
	text-align: left;
}

@media screen and (max-width: 50em) {
	section {
		font-size: 50%;
		padding: 6em 6.6em;
	}
	section p {
	font-size: 1.5em;
	line-height: 1.518;
	max-width: 30em;
	margin: 0 auto;

}
	.header-1{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/1.png");
	min-height:50vh;
	width: 70vh;
	
	}	
	.header-2{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/2.png");
	min-height:50vh;
	width: 70vh;
	
	}
	.header-3{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/3.png");
	min-height:50vh;
	width: 70vh;
	
	}
	.header-4{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/4.png");
	min-height:50vh;
	width: 70vh;
	
	}
	.header-5{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/5.png");
	min-height:50vh;
	width: 70vh;
	
	}.header-6{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/6.png");
	min-height:50vh;
	width: 70vh;
	
	}
	.header-7{
	padding-right: 40%;
	letter-spacing: -1px;
	background-image: url("../img/ZineWeb/7.png");
	min-height:50vh;
	width: 70vh;
	
	}
	
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}