body {
	background-color: #FDFDF3
}
header {
	font-family: 'Helvetica';
	font-weight: 200;
}
header h1{
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 2em;
}
header h2{
	display: flex;
	justify-content: center;
	font-weight: 200;
	font-size: 1.5em;
}
section{
	margin: 2em;
	display: flex;
	justify-content: center
	
}
img{
	display: flex;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
